.tan {
	background: #FBF1EB;
}

.bump{
	margin-top: 30px;
	margin-bottom: 30px;

}
.main-box {
	min-height: 200px;
}
  #foo{
   	width:105px;
   	height:105px;
   	border-radius: 10px;
   	border: 3px solid #C56A51;
  }

.thumb-sample{
  background: blue;
  background-size:cover;
}

.panel-description {
	color: #C56A51 !important;
}

.panel-heading {
	color: #C56A51 !important;
}

.margin-top {
	margin-top: 80px;
}

.margin-bottom {
	margin-bottom: 40px;
}

@media (min-width: 1200px){
	.center-box {
		margin: auto 15% auto 15%;
	}
}

@media (max-width: 1200px){
	.center-box {
		margin: auto 20% auto 20%;
	}
}

@media (max-width: 600px){
	.center-box {
		margin: auto 15% auto 15%;
	}
}

@media (max-width: 500px){
	.center-box {
		margin: auto 10% auto 10%;
	}
}

.panel-primary {
	.panel-heading {
		background-color: #D3B184 !important;
		border: none !important;
		outline: none !important;
	}
}

.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}

.block {
	display: block;
}
.inlineblock{
	display: inline-block;
}
.floatleft{
	float: left;
}
.bumpleft{
	margin-left: 50px;
}
.review{
	background: white;
	border-radius: 8px;
	opacity: 80%;
	margin-bottom:30px;
	padding-bottom: 20px;
	.panel-content {
		padding-left: 2.5%;
	}
}

.section-background {
	border-radius: 2.5px;
}
@media (max-width: 669px) {
	.table-div {
		float: left;
		clear: both;
		width: 100%;
		font-size: large;
		border-top: 1px solid black;
	}
}
@media (min-width: 670px) {
	.table-div {
		float: left;
		width: 14.2%;
	}
}
@media (max-width: 991px) {
	.section-background {
		background-color: #C56A51;
		height: 100px;
		padding-top: 25px;
	}
	.bump-top {
		margin-top: 10px;
	}
	#storeInfo {
		padding-left: 20px;
	}
	#storeImage {
		padding-right: 0%;
	}
	.img-fill {
		width: 50%;
		height: auto;
	}
}
@media (min-width: 992px) {
	.section-background {
		background-color: #C56A51;
		height: 175px;
		padding-top: 60px;
	}
	.img-fill {
		width: 100%;
		height: auto;
	}
}

.center-block {
	width: 70%;
	margin: auto 15%;
	padding: 0%;
	.well {
		padding: 0%;
	}
}

@media (max-width: 1199px) {
	#storeOptions {
		margin-top: 10px;
	}
	#typeTags {
		margin-top: 1%;
	}
}
@media (min-width: 1200px) {
	#storeOptions {
		margin-top: 20px;
	}
	#typeTags {
		margin-top: 2.5%;
	}
}
#storeOptions {
	div {
		padding-left: 0%;
		text-align: center;
		font-size: large;
	}
	hr {
		padding-right: 10px;
	}
}
#storeStars {
	i {
		color: gold;
	}
}
.blurb {
	border-radius: 10px;
	background-color: white;
}
.reviewer {
	img {
		border-radius: 50px;
		width: 75px;
		height: auto;
	}
}
#typeTags {
	span {
		margin-left: 1.5%;
	}
	span:hover {
		color: blue;
		cursor: pointer;
	}
}