.tan {
	background: #FBF1EB;
}

.bump{
	margin-top: 30px;
	margin-bottom: 30px;

}
.main-box {
	min-height: 200px;
}
  #foo{
   	width:100px;
   	height:100px;
  }

.thumb-sample{
  background: blue;
  background-size:cover;
}

.block {
	display: block;
}
.inlineblock{
	display: inline-block;
}
.floatleft{
	float: left;
}
.bumpleft{
	margin-left: 50px;
}
.review{
	background: white;
	border-radius: 8px;
	padding-left:40px;
	padding-right:40px;
	border: 3px solid black;
	opacity: 80%;
	margin-bottom:30px;
	padding-bottom: 20px;
}