.tan {
	background: #FBF1EB;
}

.bump{
	margin-top: 30px;
	margin-bottom: 30px;

}
.main-box {
	min-height: 200px;
}
  #foo{
   	width:100px;
   	height:100px;
  }

.thumb-sample{
  background: blue;
  background-size:cover;
}

.margin-top {
	margin-top: 20px;
}

@media (min-width: 1200px){
	.center-box {
		margin: auto 15% auto 15%;
	}
}

@media (max-width: 1200px){
	.center-box {
		margin: auto 20% auto 20%;
	}
}

@media (max-width: 600px){
	.center-box {
		margin: auto 15% auto 15%;
	}
}

@media (max-width: 500px){
	.center-box {
		margin: auto 10% auto 10%;
	}
}

.align-center {
	text-align: center;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}

.block {
	display: block;
}
.inlineblock{
	display: inline-block;
}
.floatleft{
	float: left;
}
.bumpleft{
	margin-left: 50px;
}
.review{
	background: white;
	border-radius: 8px;
	border: 3px solid black;
	opacity: 80%;
	margin-bottom:30px;
	padding-bottom: 20px;
	.panel-content {
		padding-left: 2.5%;
	}
}