<div ng-include="'components/navbar/navbar.html'" class="ng-scope"></div>
<div class='container margin-top'>
	<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 center-block'>
		<section class='row well'>
			<div id='storeImage' class='col-lg-4 col-md-4 col-sm-12 col-xs-12' style='padding-left: 0%;'>
				<img ng-src='http://lorempixel.com/200/200/' class='img-responsive img-fill'/>
			</div>
			<div id='storeInfo' class='col-lg-8 col-md-8 col-sm-12 col-xs-12'>
				<div class='row'>
					<h1>{{store.name}}</h1>
				</div>
				<div class='row'>
					<p class='lead' style='font-size: medium;'>
						{{store.formatted_address}}
					</p>
				</div>
				<div id='storeStars' class='row'>
					<i class='fa fa-star fa-3x' ng-repeat='i in store.stars'></i>
				</div>
				<div id='storeOptions' class='row'>
					<div class='col-lg-4 col-md-4 col-sm-4 col-xs-4'>
						<a ng-if='!store.website' href='{{store.url}}'>Store Website</a>
						<a ng-if='store.website' href='{{store.website}}'>Store Website</a>
					</div>
					<div class='col-lg-4 col-md-4 col-sm-4 col-xs-4'>
						<a href='tel:{{store.hrefTel}}'>{{store.formatted_phone_number}}</a>
					</div>
					<div class='col-lg-4 col-md-4 col-sm-4 col-xs-4'>
						<a>Get Directions</a>
					</div>
				</div>
				<div id='typeTags' class='row'>
					<i class='fa fa-tag'></i><span ng-repeat='type in store.types'>{{type}}</span>
				</div>
			</div>
		</section>
		<section id='hours' class='row well'>
			<h3 class='col-lg-12 col-md-12 col-sm-12 col-xs-12 align-center'>{{isOpen}} {{todayOpen}}-{{todayClose}}</h3>
			<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 align-center' style='font-size: smaller;'>
				<div class='table-div'>
					Monday<br><span ng-if='store.opening_hours.periods[0]'>
					{{store.opening_hours.periods[0].open.time}}-{{store.opening_hours.periods[0].close.time}}</span>
					<span ng-if='!store.opening_hours.periods[0]'>Closed</span>
				</div>
				<div class='table-div'>
					Tuesday<br><span ng-if='store.opening_hours.periods[1]'>
					{{store.opening_hours.periods[1].open.time}}-{{store.opening_hours.periods[1].close.time}}</span>
					<span ng-if='!store.opening_hours.periods[1]'>Closed</span>
				</div>
				<div class='table-div'>
					Wednesday<br><span ng-if='store.opening_hours.periods[2]'>
					{{store.opening_hours.periods[2].open.time}}-{{store.opening_hours.periods[2].close.time}}</span>
					<span ng-if='!store.opening_hours.periods[2]'>Closed</span>
				</div>
				<div class='table-div'>
					Thursday<br><span ng-if='store.opening_hours.periods[3]'>
					{{store.opening_hours.periods[3].open.time}}-{{store.opening_hours.periods[3].close.time}}</span>
					<span ng-if='!store.opening_hours.periods[3]'>Closed</span>
				</div>
				<div class='table-div'>
					Friday<br><span ng-if='store.opening_hours.periods[4]'>
					{{store.opening_hours.periods[4].open.time}}-{{store.opening_hours.periods[4].close.time}}</span>
					<span ng-if='!store.opening_hours.periods[4]'>Closed</span>
				</div>
				<div class='table-div'>
					Saturday<br><span ng-if='store.opening_hours.periods[5]'>
					{{store.opening_hours.periods[5].open.time}}-{{store.opening_hours.periods[5].close.time}}</span>
					<span ng-if='!store.opening_hours.periods[5]'>Closed</span>
				</div>
				<div class='table-div'>
					Sunday<br><span ng-if='store.opening_hours.periods[6]'>
					{{store.opening_hours.periods[6].open.time}}-{{store.opening_hours.periods[6].close.time}}</span>
					<span ng-if='!store.opening_hours.periods[6]'>Closed</span>
				</div>
			</div>
		</section>
		<section class='row margin-bottom'>
			<reviews></reviews>
		</section>
	</div>
</div>
