@for $i from 150px through 2000px {
	@media screen and (max-height: ($i)) and (min-height: ($i - 0.5)) {
		.angular-google-map-container {
			height: ($i - 50);
		}
	}
}

@media screen and (max-width: 650px){
	#direction-panel{
		height: 35% !important;
		width: 100%;
		bottom: 0%;
		overflow: auto;
	}
}
@media screen and (min-width: 650px) {
	#direction-panel{
		min-height: 50%;
		width: 30%;
		min-width: 300px;
		top: 50px;
	}
}
ui-gmap-google-map ui-gmap-marker .google-box {
	min-width: 180px;
}

#direction-panel {
	position: absolute;
	z-index: 10;
	background: white;
	top: 56px;
	right: 5px;
	border: 1px solid grey;
	padding: 5px;
	height: auto;
	.selector {
		margin-left: 15px;
		margin-top: 15px;
		a {
			color: black;
			float: right;
			margin-right: 15px;
			cursor: pointer;
		}
	}
}