<div id='direction-panel' class='test' ng-show='directionsPressed'>
	<div class='selector'>
		<b>Mode of Travel: </b>
	    <select ng-model='selectedMode' ng-options='mode.type as mode.name for mode in transportModes' ng-change='$root.route()'></select>
	    <a ng-click='closeDirections()'>Close</a>
	</div>
</div>
<ui-gmap-google-map center="map.center" zoom="map.zoom" events="mapChanged">
	<ui-gmap-marker ng-repeat="location in locations"
	click="{ click: markerClick(location) }"
	idKey= "{ id: location._id }"
	icon="{ url: location.marker }"
	options= "{ title: location.name }" 
	coords="{ latitude: location.geometry.location.lat, longitude: location.geometry.location.lng }">
		<ui-gmap-window show='location.show' templateParamter='map.windowParameter' coords='{ latitude: location.location[1], longitude: location.location[0] }' options='map.windowParamter.options'ng-cloak='ng-cloak'>
			<div style='height: 150px; min-width: 120px;'>
				<span><b> {{location.name}} </b></span><br> 
				<span> {{location.address_components[0].short_name}} </span><br>
				<span>{{location.address_components[1].short_name}} </span><br>
				<span>{{location.address_components[2].long_name}}, {{location.address_components[3].short_name}} {{location.address_components[5].short_name}}</span><br>
				<a href='{{"/store/" + location._id}}'>See more info</a><br>
				<a ng-click= "$root.route(this.coords)"  >Directions</a>
			</div>
		</ui-gmap-window>
	</ui-gmap-marker>
	<!-- <ui-gmap-marker ng-repeat="grocery in groceries"
	click="{ click: hitMarker(grocery._id) }"
	idKey= "{ id: grocery._id }"
	icon="{ url: 'assets/images/snapmap_pin_GREEN.png' }"
	options= "{ title: grocery.name }" 
	coords="{ latitude: grocery.location[1], longitude: grocery.location[0] }">
		<ui-gmap-window options="{ content: '<div style=\'height:150px\'><span><b>' + grocery.name + '</b></span><br>' + 
		'<span>' + grocery.address + '</span><br><span>' + grocery.addressLineTwo + '</span><br><span>' + 
		grocery.city + ', ' + grocery.state + ' ' + grocery.zip5 + '</span><br><a href=\'/store/' + grocery._id  + '\'>See more info</a><br><a href=\'https://www.google.com/maps/dir/Current+Location/'+grocery.location[1]+','+grocery.location[0]+'\'  >Directions</a></div>' }">
		</ui-gmap-window>
	</ui-gmap-marker> -->
</ui-gmap-google-map>
