<div class='col-md-6 col-md-offset-2'>
	<button class='btn bump' ng-click='showReview()'>Create a review</button>
	</br>
	<form ng-show'user' name='reviewForm' ng-submit='reviewForm.$valid && submit()'>
		Score: <input type='number' ng-model='newReview.score'/>
		How was the store: <input type='text' ng-model='newReview.text'/>
	</form>
	<h2 class='bump'>Reviews</h2>
	<div ng-repeat='review in reviews'>
		<div class='review'>
				<h3>{{review.user}}</h3>
				<h5>{{review.date}}</h5>
				<h4>{{review.text}}</h4>
		</div>
	<div>

<!-- 		<div>
				<h3>{{reviews[0].user}}</h3>
				<h4>{{reviews[0].date}}</h4>
				<h4>{{reviews[0].text}}</h4>
		</div>
		<div >
				<h3>{{reviews[1].user}}</h3>
				<h4>{{reviews[1].date}}</h4>
				<h4>{{reviews[1].text}}</h4>
		</div> -->
</div>