<div ng-include="'components/navbar/navbar.html'" class="ng-scope"></div>

<main style="margin-top:50px" class="container">
	<div id="userInformation" class="row">
		<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
			<img class="img-responsive" ng-src="{{currentUser.avatar}}"/>
			<i class="fa fa-camera"></i>
		</div>
		<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
			<h1>{{currentUser.firstName}} {{currentUser.lastName}}</h1>
		</div>
	</div>
	<div class="row align-center">
		<section class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="panel-primary">
				<div class="panel-heading">
					<h3>Reviews</h3>
				</div>
				<div class="panel-body">
					<article ng-repeat="review in reviews | orderBy:'-date'">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 well">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<h4 ui-sref="stores({ storeId: review.store._id })">{{review.store.name}}</h4>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<p>{{review.text}}</p>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									<span ng-repeat='i in review.staricons' class="fa fa-star"></span>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									<p>{{review.date | date}}</p>
								</div>
							</div>
						</div>
					</article>
				</div>
			</div>
		</section>
		<section class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
			<div class="panel-primary">
				<div class="panel-heading">
					<h3>Top Rated Stores</h3>
				</div>
				<div class="panel-body">
					<article ng-repeat="store in stores | orderBy:'-averageRating'">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 well">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<h4 ui-sref="stores({ storeId: store._id })">{{store.name}}</h4>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<p>{{store.address}}</p>
								<p ng-if="store.addressLineTwo">{{store.addressLineTwo}}</p>
								<p>{{store.city}}, {{store.state}} {{store.zip5}}</p>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								Average Rating: {{store.averageRating}}
							</div>
						</div>
					</article>
				</div>
			</div>
		</section>
	</div>
</main>